* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.banner .banner-content h1 {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.banner .banner-content img {
  width: 13%;
  margin-top: 1rem;
  padding-top: 3rem;
}
#service1 {
  flex-direction: column-reverse;
}
.service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.service-container .service-image-container {
  width: 100%;
}
.service-container .service-image-container .service-image {
  width: 100%;
}
.service-container .service-text {
  margin: 0 auto 1rem auto;
  padding-bottom: 1rem;
  width: 80%;
  text-align: center;
}
.service-container .service-text .service-content .service-title {
  padding: 1.5rem 0 1.5rem 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  color: #23303e;
}
.service-container .service-text .service-content .service-discription {
  padding: 0 0 1.5rem 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #a7abae;
}
.service-container .service-text .service-content .service-link {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #23303e;
  padding: 5px 10px;
  background-image: linear-gradient(#fffae0, #fff);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.last-two-services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.last-two-services-container .small-service {
  position: relative;
  width: 100%;
  height: 100vh;
}
.last-two-services-container .small-service .small-service-content {
  position: absolute;
  text-align: center;
  width: 90%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.last-two-services-container
  .small-service
  .small-service-content
  .small-service-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}
.last-two-services-container
  .small-service
  .small-service-content
  .small-service-discription {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}
.last-two-services-container .graphic-design {
  background-image: url(./images/mobile/image-graphic-design.jpg);
}
.last-two-services-container .photography {
  background-image: url(./images/mobile/image-photography.jpg);
}
.last-two-services-container .graphic-design,
.last-two-services-container .photography {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.graphic-design > .small-service-content > .small-service-title,
.graphic-design > .small-service-content > .small-service-discription {
  color: #25564b;
}
.photography > .small-service-content > .small-service-title,
.photography > .small-service-content > .small-service-discription {
  color: #19536b;
}

.section-title {
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Fraunces", serif;
  color: #818498;
}
.testimonials {
  width: 100%;
}
.testimonials .testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  text-align: center;
}
.testimonials .testimonial .author-image {
  width: 60%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .testimonial .testimonial-discription {
  width: 32ch;
  padding-top: 1.5rem;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  color: #5a636c;
}
.testimonials .testimonial .testimonial-author {
  padding: 2rem 0;
}
.testimonials .testimonial .testimonial-author .author-name {
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
}
.testimonials .testimonial .testimonial-author .author-position {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projects picture {
  display: contents;
}
.projects .project-image {
  width: 50%;
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 18.75rem;
  background-color: #458c7e;
}
.page-footer .footer-logo > path {
  fill: #1e4f43;
}
.page-footer .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 2rem 0;
}
.page-footer .footer-links li a {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #1e4f43;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
.page-footer .footer-links li a:hover {
  color: #fff;
}
.page-footer .icons > i {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  color: #1f4f46;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
.page-footer .icons > i:hover {
  color: #fff;
}
#middle {
  margin: 0 3.5rem;
}
@media screen and (max-width: 900px) {
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 2rem;
  }
  nav .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 0px;
    padding: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  nav .nav-links li a {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: #818498;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  nav #contact-btn {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    background-color: #fad400;
    color: #23303e;
    padding: 1.2rem;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  nav .burger {
    cursor: pointer;
    display: block;
  }
  nav .burger .line2 {
    margin: 5px 0;
  }
  nav .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
.open .nav-links {
  max-height: 300px;
  padding: 2rem;
}
.sticky {
  background-color: #3ebfff;
}
.toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  -moz-transform: rotate(45deg) translate(5px, 6px);
  -ms-transform: rotate(45deg) translate(5px, 6px);
  -o-transform: rotate(45deg) translate(5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  -moz-transform: rotate(-45deg) translate(5px, -6px);
  -ms-transform: rotate(-45deg) translate(5px, -6px);
  -o-transform: rotate(-45deg) translate(5px, -6px);
}

@media screen and (min-width: 900px) {
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 2rem;
  }
  nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .nav-links li a {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    margin-right: 1rem;
    color: #fff;
  }
  nav #contact-btn {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    background-color: #fff;
    color: #23303e;
    padding: 1.2rem;
    transition: all 0.3s ease-in-out;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  nav #contact-btn:hover {
    background-color: #71d0ff;
    color: #fff;
  }
  nav .burger {
    display: none;
  }
  .banner {
    background-image: url(./images/desktop/image-header.jpg);
  }
  .banner .banner-content {
    top: 45%;
  }
  .banner .banner-content h1 {
    letter-spacing: 10px;
  }
  .banner .banner-content img {
    width: 40px;
  }
  #service1 {
    flex-direction: row;
  }
  #service1 .service-text .service-content {
    width: 60%;
  }
  .service-container {
    flex-direction: row;
  }
  .service-container .service-image-container {
    width: 50%;
    height: 600px;
  }
  .service-container .service-image-container .service-image {
    width: 100%;
  }
  .service-container .service-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .service-container .service-text .service-content {
    width: 70%;
    margin: 0 auto;
  }
  .service-container .service-text .service-content .service-title {
    font-size: 2.5rem;
  }
  .service-container .service-text .service-content .service-discription {
    line-height: 1.8;
  }
  .last-two-services-container {
    flex-direction: row;
  }
  .last-two-services-container .small-service {
    width: 50%;
  }
  .last-two-services-container .graphic-design {
    background-image: url(./images/desktop/image-graphic-design.jpg);
  }
  .last-two-services-container .photography {
    background-image: url(./images/desktop/image-photography.jpg);
  }
  .last-two-services-container .small-service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last-two-services-container
    .small-service-content
    .small-service-discription {
    width: 38ch;
    line-height: 1.6;
  }
  .testimonials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .projects .project-image {
    width: 25%;
  }
}
